In [1]:
# Importing Dependencies
import pandas as pd
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [2]:
# Loading the dataset
df = pd.read_csv('Dataset/Churn_Modelling.csv')

In [3]:
df.shape

(10000, 14)

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Preprocessing the data

In [5]:
# Droping Irrelevant Features
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [37]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# Splitting the data into dependent and Independent features
X, y = df.drop('Exited', axis=1), df['Exited']

In [7]:
# Splitting data into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
X_train = X_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)

In [9]:
#Encoding the Categorical Values --> LabelEncdoer()
le_gender = LabelEncoder()

X_train['Gender'] = le_gender.fit_transform(X_train['Gender'])
X_test['Gender'] = le_gender.transform(X_test['Gender'])

In [10]:
X_train

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,686,France,1,32,6,0.00,2,1,1,179093.26
1,632,Germany,1,42,4,119624.60,2,1,1,195978.86
2,559,Spain,1,24,3,114739.92,1,1,0,85891.02
3,561,France,0,27,9,135637.00,1,1,0,153080.40
4,517,France,1,56,9,142147.32,1,0,0,39488.04
...,...,...,...,...,...,...,...,...,...,...
7995,768,France,1,54,8,69712.74,1,1,1,69381.05
7996,682,France,0,58,1,0.00,1,1,1,706.50
7997,735,France,0,38,1,0.00,3,0,0,92220.12
7998,667,France,1,43,8,190227.46,1,1,0,97508.04
7999,697,Germany,1,51,1,147910.30,1,1,1,53581.14

In [12]:
# Encoding Geography Column --> OneHotEncoder() & StandardScaling
ohe = OneHotEncoder()

X_train_ohe = ohe.fit_transform(X_train[['Geography']]).toarray()
X_test_ohe = ohe.transform(X_test[['Geography']]).toarray()

ohe_train_data = pd.DataFrame(X_train_ohe, columns=ohe.get_feature_names_out())
ohe_test_data = pd.DataFrame(X_test_ohe, columns=ohe.get_feature_names_out())

In [13]:
X_train_trf = pd.concat([X_train.drop('Geography', axis=1), ohe_train_data], axis=1)
X_test_trf = pd.concat([X_test.drop('Geography', axis=1), ohe_test_data], axis=1)

In [14]:
X_train_trf

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,686,1,32,6,0.00,2,1,1,179093.26,1.0,0.0,0.0
1,632,1,42,4,119624.60,2,1,1,195978.86,0.0,1.0,0.0
2,559,1,24,3,114739.92,1,1,0,85891.02,0.0,0.0,1.0
3,561,0,27,9,135637.00,1,1,0,153080.40,1.0,0.0,0.0
4,517,1,56,9,142147.32,1,0,0,39488.04,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7995,768,1,54,8,69712.74,1,1,1,69381.05,1.0,0.0,0.0
7996,682,0,58,1,0.00,1,1,1,706.50,1.0,0.0,0.0
7997,735,0,38,1,0.00,3,0,0,92220.12,1.0,0.0,0.0
7998,667,1,43,8,190227.46,1,1,0,97508.04,1.0,0.0,0.0
7999,697,1,51,1,147910.30,1,1,1,53581.14,0.0,1.0,0.0

In [15]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_trf)
X_test_scaled = scaler.transform(X_test_trf)

In [16]:
X_train_scaled.shape

(8000, 12)

In [17]:
import pickle

In [18]:
# Pickling all Preprocessing Classes
with open('pickle_files/labelencoder.pkl', 'wb') as file:
    pickle.dump(le_gender, file)

with open('pickle_files/ohe.pkl', 'wb') as file:
    pickle.dump(ohe, file)

with open('pickle_files/scaling.pkl', 'wb') as file:
    pickle.dump(scaler, file)

# Creating Our Artificial Neural Network

In [19]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [20]:
# Creating Our Sequential or ANN architecture
model = Sequential([

    Dense(128, activation='relu', input_shape=(X_train_scaled.shape[1],)), # Hidden Layer 1 connected with Input Layer
    Dense(64, activation='relu'), # Hidden Layer 2 connected with Hidden Layer 1
    Dense(1, activation='sigmoid')  # Ouput Layer for Binary Classification

])

c:\Users\TALHA PC\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [21]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 128)            │         1,664 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            65 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 9,985 (39.00 KB)

 Trainable params: 9,985 (39.00 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()

In [23]:
# Compiling Our Model
model.compile(optimizer=opt, loss=loss, metrics=['accuracy'])

In [24]:
# Setting up TensorBoard
timestamp = datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
log_dir = f"logs/fit/{timestamp}"  # No colons or spaces
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [25]:
# Setting up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10)

In [26]:
# Start to train our model      
history = model.fit(X_train_scaled, y_train, validation_data=(X_test_scaled, y_test), epochs=100,callbacks=[tensorflow_callback, early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.8084 - loss: 0.4329 - val_accuracy: 0.8535 - val_loss: 0.3591
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8573 - loss: 0.3543 - val_accuracy: 0.8565 - val_loss: 0.3499
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8647 - loss: 0.3439 - val_accuracy: 0.8605 - val_loss: 0.3563
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8594 - loss: 0.3379 - val_accuracy: 0.8550 - val_loss: 0.3424
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8592 - loss: 0.3393 - val_accuracy: 0.8585 - val_loss: 0.3369
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8547 - loss: 0.3479 - val_accuracy: 0.8580 - val_loss: 0.3478
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8686 - loss: 0.3242 - val_accuracy: 0.8565 - val_loss: 0.3409
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8611 - loss: 0.3397 - val_accuracy: 0.8585 - val_loss: 0.3521
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8672 - loss: 0.3266 - val_accuracy: 0.8530 - val_loss: 0.3494
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8684 - loss: 0.3290 - val_accuracy: 0.8510 - val_loss: 0.3517
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8739 - loss: 0.3150 - val_accuracy: 0.8585 - val_loss: 0.3501
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8679 - loss: 0.3202 - val_accuracy: 0.8610 - val_loss: 0.3509
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8616 - loss: 0.3298 - val_accuracy: 0.8595 - val_loss: 0.3520
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8682 - loss: 0.3196 - val_accuracy: 0.8510 - val_loss: 0.3731
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8692 - loss: 0.3179 - val_accuracy: 0.8605 - val_loss: 0.3443

In [42]:
_, accuracy = model.evaluate(X_train_scaled, y_train)
accuracy

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8779 - loss: 0.3006

0.8765000104904175

In [27]:
model.save('pickle_files/NN_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [28]:
# Load Tensorboard Extension
%load_ext tensorboard

In [ ]:
%tensorboard --logdir logs/fit